body
{
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E;
    margin: 0;  text-align: center;

}

h1
{
    font-family: 'Sacramento', cursive; font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
    color: #66bfbf;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: normal;

    color: #11999e;
    padding-bottom: 10px;
}

h3
{
    font-family: 'Montserrat',
    sans-serif;
    color: #66bfbf;
}


p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  text-decoration:none;
  color: #66bfbf;

}
a:hover{
  color: black;
  background-color: #dfd4e6;
}
.mount-img {
  width: auto ;
  max-width: 70% ;
  height: auto ;
}
.footer-link
{
    font-size: 3rem;
    color: #11999e;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.pro
{
    text-decoration: underline;
}
.top-container
{
    position: relative;
    padding-top: 50px;
    background-color: #dfd4e6;
}
.middle-container{
  /* background-color: #dfd4e6; */
   padding: 50px 0;
}
.bottom-container{
  background-color: #4a0e5c;
  padding: 50px 0 20px;

}
.hello-intro{
margin: auto;
width: 50%;
}
.contact-message{
  margin: 40px auto 60px;
  width: 50%;
}
.copyright{
  color: #EAF6F6;
  font-size: 10px;
  padding: 20px 0;
}
.top-cloud
{
  max-width: 10% ;
    position: absolute;  top: 50%;     right: 20%;
}
.bottom-cloud
{
  max-width: 10% ;
    position: absolute;  bottom: 35%;     left: 20%;
}
.skill-row{
  width: 50%;
margin: 100px auto 100px auto;
text-align: justify;
}
.code-img{
  width: 25%;
  float: left;
margin-right: 30px;
}
.code-img2{
  width: 25%;
  float: right;
margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
